<div class="container mx-auto my-8">
  <div class="flex">
    <!-- Columna izquierda (filtros) -->
    <div class="w-1/4 pe-4 ml-4 sticky top-0 h-screen overflow-y-auto overscroll-contain">
      <!-- Barra de búsqueda y filtros -->
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Nombre o descripcion del producto</h3>
      <%= form_tag root_path, method: :get, class: "space-y-6" do %>
        
        <!-- Barra de búsqueda -->
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <%= text_field_tag :search, params[:search], 
              class: "block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-rosa-light focus:border-rosa-light", 
              placeholder: "Buscar productos, descripciones..." %>
        </div>

        <!-- Categorías -->
        <div class="mt-2">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Categorías</h3>
          <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg">
            <% @categories.each do |category| %>
              <li class="w-full border-b border-gray-200 rounded-t-lg focus:outline-none">
                <div class="flex items-center ps-3">
                  <%= check_box_tag 'category_ids[]', category.id, params[:category_ids]&.include?(category.id.to_s), 
                      id: "category-#{category.id}", 
                      class: "w-4 h-4 text-rosa-light bg-gray-100 border-gray-300 rounded focus:outline-none" %>
                  <%= label_tag "category-#{category.id}", category.name, 
                      class: "w-full py-2 ms-2 text-sm font-medium text-gray-900" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

        <!-- Sub Categorías -->
        <div class="mt-2">
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white mb-4">Sub Categorías</h3>
          <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg">
            <% @sub_categories.each do |sub_category| %>
              <li class="w-full border-b border-gray-200 rounded-t-lg focus:outline-none">
                <div class="flex items-center ps-3">
                  <%= check_box_tag 'sub_category_ids[]', sub_category.id, params[:sub_category_ids]&.include?(sub_category.id.to_s), 
                      id: "sub_category-#{sub_category.id}", 
                      class: "w-4 h-4 text-rosa-light bg-gray-100 border-gray-300 rounded focus:outline-none" %>
                  <%= label_tag "sub_category-#{sub_category.id}", sub_category.name, 
                      class: "w-full py-2 ms-2 text-sm font-medium text-gray-900" %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

        <!-- Botón de Filtrar -->
        <div class="w-full p-3">
          <%= submit_tag "Filtrar", class: "bg-rosa-light text-white px-4 py-2 rounded w-full" %>
        </div>
      <% end %>
    </div>

    <!-- Columna derecha (productos) -->
    <div class="w-3/4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <% if @products.count > 0 %>
        <% @products.each do |product| %>
          <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col h-[380px]">
                <a href="#" class="h-48 overflow-hidden flex items-center justify-center"> <!-- Reducido el tamaño de la imagen -->
                <%= image_tag product.images.first, class: 'w-full h-full object-contain' %>
              </a>
              <div class="p-3 flex-grow flex flex-col"> <!-- Reducido padding -->
                <%= link_to product_path(product) do %>
                  <h5 class="mb-1 text-lg font-bold tracking-tight text-gray-900 dark:text-white line-clamp-2"><%= product.name %></h5>
                <% end %>
                <div class="mb-1 flex items-center gap-2"> <!-- Reducido margin -->
                  <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300"><%= product.category.name %></span>
                  <span class="bg-[#e3f59b] bg-[#c7eb7a] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full "><%= product.sub_category.name %></span>
                </div>
                <p class="mb-2 text-sm font-normal text-gray-700 dark:text-gray-400 line-clamp-2 flex-grow"><%= product.description %></p>
                <div class="flex items-center justify-between">
                  <span class="text-2xl font-bold text-gray-900 dark:text-white">$<%= product.unit_price %></span>
                  <% if product.stock > 0 %>
                    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">Cantidad: <%= product.stock %></span>
                  <% else %>
                    <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">Sin stock</span>
                  <% end %>
                </div>
              </div>
          </div>
        <% end %>
  
        <!-- Contenedor de paginación centrado -->
        <div class="col-span-1 sm:col-span-2 lg:col-span-3 flex flex-col items-center mt-4">
          <!-- Texto de ayuda -->
          <span class="text-sm text-gray-700 dark:text-gray-400">
            Viendo 
            <span class="font-semibold text-gray-900 dark:text-white"><%= @products.offset_value + 1 %></span>
            a 
            <span class="font-semibold text-gray-900 dark:text-white"><%= [@products.offset_value + @products.limit_value, @products.total_count].min %></span> 
            de 
            <span class="font-semibold text-gray-900 dark:text-white"><%= @products.total_count %></span> Productos
          </span>
    
          <div class="inline-flex mt-2 xs:mt-0">
            <!-- Botón "Anterior" -->
            <% if @products.prev_page %>
              <%= link_to products_path(page: @products.prev_page), class: "flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" do %>
                <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                </svg>
                Anterior
              <% end %>
            <% else %>
              <button class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-400 bg-gray-200 rounded-s cursor-not-allowed dark:bg-gray-700 dark:text-gray-500" disabled>
                <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
                </svg>
                Anterior
              </button>
            <% end %>
    
            <!-- Botón "Siguiente" -->
            <% if @products.next_page %>
              <%= link_to products_path(page: @products.next_page), class: "flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" do %>
                Siguiente
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              <% end %>
            <% else %>
              <button class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-400 bg-gray-200 border-0 border-s border-gray-700 rounded-e cursor-not-allowed dark:bg-gray-700 dark:text-gray-500" disabled>
                Siguiente
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
              </button>
            <% end %>
          </div>
        </div>
      <% else %>
        <!-- Mensaje centrado cuando no hay productos -->
        <div class="col-span-1 sm:col-span-2 lg:col-span-3 flex justify-center items-center w-full">
          <p class="text-gray-500 text-center">No existen productos con los filtros aplicados</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
